.git

.idea
.vcode
.vscode

.vagrant

/node_modules
/tests/UI/videos
/tests/UI/screenshots
/vendor

/public/hot
/public/storage
/public/fonts
/public/images/vendor
/public/js
/public/css
/public/mix-manifest.json

/storage/*.key

.env

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

.DS_Store
